@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<RF.Modules.TestFlightAppointment.Models.CreateBookingParameters>

@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries

@using RF.Modules.TestFlightAppointment.Models;

@{
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/RF.Modules.TestFlightAppointment/Scripts/BookingGrid.js");

    var plans = ViewBag.Plans as TestFlightPlan[]
        ?? new RF.Modules.TestFlightAppointment.Models.TestFlightPlan[0];
    var planOptions = new System.Web.Mvc.SelectList(plans, "FlightPlanID", "Name");
    var submitID = String.Format("submit-{0}", Guid.NewGuid());
    var errorID = String.Format("error-{0}", Guid.NewGuid());
}

<h1>Create a booking</h1>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div id="Item-@Dnn.ModuleContext.ModuleId">
    <div class="dnnForm dnnEditBasicSettings" id="dnnEditBasicSettings">
        <p id="@errorID"></p>
        <fieldset>
            <div class="dnnFormItem">
                <div><label for="departureAt">Departure at</label></div>
                <p>@Model.DepartureAt</p>
                @Html.HiddenFor(m => m.DepartureAt)
            </div>
            <div class="dnnFormItem">
                <div><label for="planID">Flight plan</label></div>
                @Html.DropDownListFor(m => m.PlanID, planOptions)
            </div>
        </fieldset>
    </div>
    <button type="button" id="@submitID" class="dnnPrimaryAction">Book Test Flight</button>
    <a id="cancelEdit" href="#" class="dnnSecondaryAction">Cancel</a>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function($, Sys) {
        $(function() {
            $('#cancelEdit').click(function () { dnnModal.closePopUp(false); });
            $('#@submitID').click(function () {
                var sf = $.ServicesFramework('@Dnn.ActiveModule.ModuleID');
                var serviceUrl = sf.getServiceRoot('TestFlightBooking');

                var proxy = new TestFlightBookingProxy(serviceUrl);
                proxy.create(
                    '@Model.DepartureAt.ToString("s")',
                    2,
                    function (success, response) {
                        if (success) {
                            dnnModal.closePopUp(true);

                        } else {
                            $('#@errorID').html(response);

                        }
                    });
            });
        });




    }(jQuery, window.Sys));
</script>
